/*-- scss:defaults --*/

$body-bg: #FFFFFF;
$body-color: #4e3629;
$link-color: #4e3629;
$presentation-heading-color: #8B0000;
$code-color: #cc0000;
$code-block-bg: #ded9ca;
$code-block-border-color: #000000;

$presentation-font-size-root: 32px;
$presentation-font-smaller: 0.9;


/*-- scss:rules --*/



.title {
  font-size: 60px !important;
  color: darkred !important;
}







